<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:allowBackup="true" android:icon="@drawable/kba_icon" android:roundIcon="@drawable/kba_icon" android:label="MyAdv" android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AdvocateHelperActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AdvocateDiaryActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".BackupRestoreActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".LicenseActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AuthenticationActivity" android:screenOrientation="portrait" android:exported="false" />
    </application>
</manifest>
