<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:label="KBA Welfare Messenger"
        android:theme="@style/AppTheme">

        <!-- Login screen -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Main application screen -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Settings screen -->
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

    </application>

</manifest>
